/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: #777;
  background: #f3f2f1;
  font-family: 'Monaco';
  font-size: 7pt;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#inner-body {
  flex: 3;
  padding: 20px;
  padding-top: 30px;
  overflow-y: auto;
}

#sidebar-r {
  background-color: rgb(246 243 243);
  border-left: 1px solid #ddd;
  flex: 1;
  height: 100vh;
  position: fixed;
  right: 0;
  overflow-y: hidden; 
  overflow-x: hidden;
  width: 20vw;
}

#btn-upload {
  background-color: #fcfbfa;
  margin: 3px;
  width: calc(100% - 6px);
}

.wrapper-fileThumbnail {
  margin: 15px auto 0 auto;
  height: auto;
  text-align: center;
  width: auto;
}

.fileThumbnail {
  background-color: #fff;
  border: 1px solid #f3f2f1;
  margin: 0 auto;
  height: 100px;
  width: 70px;
}

.wrapper-fileThumbnail > p {
  padding: 0 10px;
}

.topics {
  font-size: 7pt;
  margin-left: 0;
  padding: 10px 10px 0;
}
.topics > li {
  padding-top: 8px;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

/* .Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */

.comment-thread-box {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 500px;
  margin-bottom: 50px;
  /* text-shadow: -1px -1px rgba(0,0,0,0.1), 1px 1px rgba(255,255,255,0.5); */
}


#wrapper-loading {
  margin: 0 auto 30px;
}

/* Facebook style loading greeking. 
with thanks to https://cloudcannon.com/blog/how-the-facebook-content-placeholder-works/
TODO: Reference properly.
*/
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.greeking {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #e8e8e8 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}
/**/

.greeking {
  display: block;
  /* background-color: #e8e8e8; */
  height: 35px;
  margin: 5px 0;
  width: 350px;
  z-index: -1;
}

.loading-box {
  /* margin: 0 auto; */
  margin-top: -100px;
  margin-left: 150px;
  z-index: 1;
}

.loading-animation {
  padding: 11px;
}


.parent-comment {
  /* color: pink; */
  margin: 0 0 15px 0;
}

.sub-comment {
  border-left: 1px solid #e8e8e8;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 45px;
  /* color: green;  */
}
